<div class="container" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ PostModel.nomePessoa }}</h5>
          </div>
          <div class="modal-body">
            <p>{{ PostModel.texto }}</p>
            <p> {{ PostModel.qtdLikes }} Curtidas</p>
            <button class="btn" (click)="recebeuLike()">Curtir</button>
            <button class="btn btn-danger" (click)="excluir()">Excluir</button>
            <button type="button" class="btn btn-success" [routerLink]= "['post-page' , PostModel.id]">Editar</button>
          </div>
        </div>
      </div>
</div>